.main-nav__item {
  font-family: @main-font;
  font-size: @title-text-size;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
  background-color: @brand-color;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  padding-top: 8px;
  padding-bottom: 8px;
}
