.page-title {
  font-size: @title-text-size;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 42px;

  &--form {
    font-size: @title-text-size;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 26px;
  }
}

@media (min-width: @tablet-size) {
  .page-title {
    width: 500px;
  }
}
