.page-main {
  font-family: @main-font;
  font-size: @title-text-size;
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-size) {
  .page-main {
    width: 768px;
  }
}

@media (min-width: @pc-size) {
  .page-main {
    width: 1200px;
  }
}

.page-main__intro {
  padding-top: 46px;
  padding-bottom: 22px;
}
