.reason {
  position: relative;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 102px;
  padding-bottom: 32px;

  &--colored {
    background-color: @brand-color;
    color: #ffffff;
    min-height: 470px;
    padding-bottom: 0;
  }

  &:last-child {
    padding-bottom: 33px;
  }
}

.reason__main-description {
  padding-top: 45px;
}

@media (min-width: @tablet-size) {
  .reason {
    display: flex;
    flex-flow: column;
    width: 256px;

    &--colored {
      width: 100%;
      display: flex;
      flex-flow: column;
      min-height: 256px;
    }
  }
}

@media (min-width: @pc-size) {
  .reason {
    display: flex;
    flex-flow: column;
    width: 400px;

    &--colored {
      width: 100%;
      display: flex;
      flex-flow: column;
      min-height: 256px;
    }
  }
}

.reason__title {
  font-size: @title-text-size;
  font-weight: 700;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 57px;
}

@media (min-width: @tablet-size) {
  .reason--colored .reason__title {
    width: 256px;
  }
}

@media (min-width: @tablet-size) {
  .reason__title {
    width: 132px;
    margin: 0 auto;
  }
}

.reason--colored .reason__title {
  margin-bottom: 56px;
}

.reason__intrio {
  min-height: 143px;
  padding-top: 47px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reason__text {
  font-family: @main-font;
  font-size: @page-text-size;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  width: 265px;
  margin: 0 auto;
}

@media (min-width: @tablet-size) {
  .reason__text {
    width: 160px;
  }
}

@media (min-width: @tablet-size) {
  .reason:nth-child(4) .reason__text {
    width: 132px;
  }
}

.reason--colored .reason__text {
  font-family: @main-font;
  font-size: @page-text-size;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  width: 265px;
  margin: 0 auto;
  padding-bottom: 45px;
}

@media (max-width: 709px) {
  .reason:nth-child(1n+4)::before {
    content: "";
    position: absolute;
    display: block;
    top: -10px;
    left: 20px;
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
  }
}

@media (min-width: @tablet-size) {
  .reason__main {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-size) {
  .reason__main-description {
    width: 256px;
  }
}

@media (min-width: @tablet-size) {
  .reason__main-description {
    width: 400px;
  }
}

@media (min-width: @tablet-size) {
  .reason__main-description:nth-child(2) {
    width: 164px;
  }

  .reason__main-description--even {
    order: 2;
  }
}
